
/* Nauryz Red Keds Font Family*/
@font-face {
    font-family: 'NauryzRedKeds';
    src: url('fonts/NauryzRedKeds.ttf');
    src: url('fonts/NauryzRedKeds.woff2') format('woff2');
    src: url('fonts/NauryzRedKeds.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}