@import url('fonts.css');

:root {
    --green-100: #F7FFE1;
    --green-200: #C8DC90;
    --green-500: #A2D01E;
    --green-600: #82A816;
    --green-1000: #36440F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    background: #ECECEC;
}

.button {
    align-self: center;
    display: block;
    padding: 16px 30px;
    width: 400px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--green-100);
    background-color: var(--green-500);
    border-radius: 12px;
    transition: background-color 0.25s ease-in-out;
}

.button:hover {
    background-color: var(--green-600);
}

.nav__item--current {
    padding: 3px 40px;
    background-color: var(--green-500);
    border-radius: 9999px;
}

.subtitle {
    padding-bottom: 3.75rem;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
}

.regular-text {
    font-size: 1.5rem;
    color: var(--green-1000);
}

.cross--top {
    transform-origin: center;
    transform: rotate(45deg) translate(10px, 4px);
}

.cross--bottom {
    transform-origin: center;
    transform: rotate(-45deg) translate(10px, -4px);
}

.sidebar__button--active {
    position: fixed;
    right: 5%;
}

.sidebar__button-line:nth-child(2) {
    transition: width 0.25s ease-in-out;
}

.sidebar__button--active .sidebar__button-line:nth-of-type(1) {
    transform: rotate(45deg) translate(4px, 4px);
    background-color: var(--green-500);
}
.sidebar__button--active .sidebar__button-line:nth-child(2) {
    position: absolute;
    opacity: 0;
}

.sidebar__button--active .sidebar__button-line:nth-of-type(3) {
    transform:rotate(-45deg) translate(4px, -4px);
    background-color: var(--green-500);
}

#sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 2rem;
    width: 70%;
    height: 100%;
    background-color: white;
    transition: right 0.5s ease;
    overflow: auto;
    z-index: 10;
}

#overlay {
    opacity: 0;
    transition: opacity 0.25s ease;
}

.partner-popup {
    display: none;
}

.partner-popup--active{
    display: flex;
}

.floating-nav-menu {
    position: fixed;
    top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 9;
    pointer-events: none;
}

.floating-nav-menu--visible {
    opacity: 1;
    pointer-events: all;
}

.floating-nav-menu__content {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.floating-nav__item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--green-1000);
    transition: color 0.3s ease;
    z-index: 4;
}

.floating-nav__item--active {
    color: var(--green-100);
}

.floating-nav-menu__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: var(--green-600);
    z-index: 2;
    transition: transform 0.5s ease;
}

.overlay--active {
    opacity: 0.4 !important;
}

.sidebar--active {
    right: 0 !important;
}

.about__reason-text::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    min-width: 60px;
    min-height: 60px;
    background: url("../images/logo.svg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}

.card__time {
    font-family: "NauryzRedKeds", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: var(--green-600);
}

.card__title {
    width: 50%;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--green-1000);
}

.card__image {
    width: 70px;
    align-self: end;
}

.swiper-navigation {
    align-items: center;
}

@media screen and (max-width: 768px) {
    .card__time {
        font-size: 36px;
    }

    .card__title {
        width: 100%;
        font-size: 22px;
    }

    .card__image {
        width: 50px;
    }

    .partners__logo.general {
        height: 100px;
    }

    .partners__logo {
        height: 70px
    }
}

@media screen and (max-width: 700px) {
    .program__cards {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 450px) {
    .subtitle {
        font-size: 32px;
    }
}

