/* Lato Font Family*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* Nauryz Red Keds Font Family*/
@font-face {
    font-family: 'NauryzRedKeds';
    src: url('../fonts/NauryzRedKeds.ttf');
    font-weight: 700;
    font-style: normal;
}